@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin+Sketch:wght@400;700&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1800px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(98, 96, 88, 0.9);
  padding: 20px;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-family: "Montserrat", sans-serif;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.heading h1 {
  font-family: "Cabin Sketch", cursive;
  font-size: clamp(2rem, 1rem + 4vw, 4rem);
  color: hsl(66, 80%, 62%);
  letter-spacing: 6px;
  line-height: clamp(2rem, 1rem + 4vw, 4rem);
}

.logo-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.buttons a {
  background-color: rgba(86, 127, 121, 1);
  color: hsl(66, 69%, 69%);
  border: 1px solid hsl(66, 69%, 69%);
  border-radius: 7px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}

.buttons a:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}

.nav-text {
  display: inline;
  font-size: clamp(0.5rem, 0.8rem + 1vw, 1.5rem);
}

/* MAIN SECTION */
.wrapper {
  display: flex;
  justify-content: center;
}

#gameField {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: rgba(241, 217, 169, 0.6);
  border-radius: 20px;
  width: 50rem;
  margin: 25px 0 25px 0;
}

/* New Game and Background Change buttons*/
.newGame_bgChange {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  margin-top: clamp(1rem, 1rem + 2vw, 2rem);
}

#reset_btn {
  margin-right: 4.5rem;
  margin-left: 4rem;
}

#bgBack {
  margin-left: 2.5em;
}

#reset_btn,
#bgChange {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: clamp(1.5rem, 2rem + 1vw, 2.5rem);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  color: hsl(66, 69%, 69%);
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid hsl(66, 69%, 69%);
  background-color: rgba(86, 127, 121, 1);
  transition: 0.5s;
}

.bgChange_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

#bgBack,
#bgForward,
#back_music,
#forward_music,
#volume_up,
#volume_off {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: clamp(1.5rem, 2rem + 1vw, 2.5rem);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  color: rgb(57, 112, 104);
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: none;
  transition: 0.5s;
}

#bgBack:hover,
#bgForward:hover,
#volume_up:hover,
#volume_off:hover,
#back_music:hover,
#forward_music:hover,
#reset_btn:hover,
#bgChange:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}

#bgBack,
#bgForward,
#back_music,
#forward_music,
#volume_up,
#volume_off {
  padding: 0 .3rem 0 .3rem;
}

#volume_off {
  margin-left: 1rem;  
}

#bgChange,
#bgBack i,
#bgForward i,
#volume_up,
#bgBack_music i,
#bgForward_music i { 
  gap: calc(0.2rem + 1vw);
}

/* Player abd Computer Images display */
#choiceImg {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
}

#playerImg {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border: solid 1.5px;
  border-color: hsl(66, 69%, 69%);
  background-color: rgba(118, 69, 46, 0.8);
  border-radius: 10px;
  margin-top: 2rem;
  /* Code taken from http://thenewcode.com/483/Flipping-Images-With-CSS-Transforms#:~:text=Reversing%20the%20orientation%20of%20images,the%20element%20horizontally%20or%20vertically */
  transform: scaleX(-1); /* playerImg horizontal flip */
  filter: FlipH;
  -ms-filter: "FlipH";
}

#compImg {
  display: flex;
  width: 15rem;
  height: 15rem;
  border: solid 1.5px;
  border-color: hsl(66, 69%, 69%);
  background-color: rgba(119, 114, 36, 0.8);
  border-radius: 10px;
  margin-top: 2rem;
}

#pImg,
#cImg,
img {
  width: 14.9rem;
  height: 14.9rem;
  border-radius: 10px;
}

/* Messages */
#result,
#pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  line-height: clamp(0.5rem, 1rem + 1vw, 1.5rem);
  font-weight: 600;
  margin-top: clamp(.5rem, 1rem + 1vw, 1.5rem);
  margin-bottom: clamp(.5rem, 1rem + 1vw, 1.5rem);
}

.start-message {
  color: #4e52c4;
}

.you-have-chosen {
  color: #077986;
}

.outcome-message {
  color: #7753bf;
}

#pick {
  color: #893023;
}

.fa-handshake {
  margin-right: 1.5rem;
}

/* Player Choice Buttons */
#player_choice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 1rem + 1vw, 3.5rem);
  margin-bottom: clamp(0.5rem, 1rem + 1vw, 1rem);
}

.btnChoices {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  color: hsl(66, 69%, 69%);
  border-radius: 5px;
  border: 1px solid hsl(66, 69%, 69%);
  background-color: rgba(86, 127, 121, 1);
  height: clamp(1rem, 1.5rem + 1vw, 2rem);
  gap: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.btnChoices p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  margin-bottom: 2rem;
}

.btnChoices:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}

/* Score Board */
.score_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#score_board {
  display: flex;
  justify-content: space-evenly;
  width: calc(90% - 2rem);
  gap: calc(1.5rem + 1vw);
}

#score_board p {
  flex: 1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.6rem);
  font-weight: 600;
  color: #6d3183;
  margin-bottom: calc(1rem + 1vw);
}

#score {
  font-size: clamp(1.2rem, 1rem + 1vw, 1.6rem);
  font-family: "Montserrat", sans-serif;
  color: #6d3183;
  font-weight: 600;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8.5rem;
  background-color: rgba(98, 96, 88, 0.9);
}

.foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 40%;
  min-width: 17.5rem;
  color: hsl(66, 69%, 69%);
}

.mediaicons {
  text-align: center;
}

.mediaicons li {
  display: inline-block;
  margin: 0 10px;
}

.icons {
  margin: 0;
  padding: 0;
}

.icons li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5rem;
}

.icons li a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: hsl(66, 69%, 69%);
}

.icons li a:hover {
  text-decoration: none;
  color: rgb(173, 173, 224);
}

#disclaimer p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-weight: lighter;
}

.footer-p {
  margin-bottom: 0;
  margin-left: 1rem;
}

hr {
  height: 2.5rem;
  border: 1.5px solid hsl(66, 69%, 69%);
}

/* MEDIA QUERIES */
/* Large to medium screens */

@media (max-width: 1620px) {
  .logo {
    margin-right: 4rem;
  }

  .bttns,
  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  #reset_btn,
  #bgChange {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.2rem;
    font-size: 1.3rem;
  }

  #gameField {
    margin: 2rem 4rem 2rem 4rem;
  }

  #reset_btn {
    margin-right: 18rem;
    margin-left: 2rem;
  }

  #choiceImg {
    gap: 15rem;
  }

  #playerImg {
    width: 13rem;
    height: 13rem;
  }

  #compImg {
    width: 13rem;
    height: 13rem;
  }

  #pImg,
  #cImg,
  img {
    width: 12.9rem;
    height: 12.9rem;
  }
}

/* Medium-sized screens */
@media (max-width: 1024px) {
  .logo {
    margin-right: 4rem;
  }

  .bttns,
  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  #reset_btn {
    margin-right: 10.5rem;
    margin-left: 3.5rem;
  }

  #gameField {
    margin: 4rem 5rem 4rem 5rem;
  }

  #choiceImg {
    gap: 12rem;
  }

  #playerImg {
    width: 12rem;
    height: 12rem;
  }

  #compImg {
    width: 12rem;
    height: 12rem;
  }

  #pImg,
  #cImg,
  img {
    width: 11.9rem;
    height: 11.9rem;
  }

  .foot-container {
    max-width: 50%;
    min-width: 17.5rem;
    align-items: center;
  }
}

/* Small-sized screens */
@media (max-width: 768px) {
  .logo {
    margin-right: 0;
  }

  .logo img {
    display: none;
  }

  .buttons {
    line-height: clamp(0.2rem, 0.5rem + 2vh, 1rem);
  }

  .nav-text {
    display: none;
  }

  .bttns {
    gap: 1rem;
  }

  .bttns i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1rem;
    height: 1.5rem;
    align-items: center;
    margin-right: 0;
  }

  #reset_btn {
    margin-right: 6rem;
    margin-left: 2rem;
  }

  #reset_btn,
  #bgChange {
    font-size: 1rem;
    padding: 0.2rem 0 0.2rem 0;
    line-height: 1rem;
  }

  #gameField {
    margin: 2rem 4rem 2rem 4rem;
  }

  #choiceImg {
    gap: 4rem;
  }

  #playerImg {
    width: 10rem;
    height: 10rem;
  }

  #compImg {
    width: 10rem;
    height: 10rem;
  }

  #pImg,
  #cImg,
  img {
    width: 9.9rem;
    height: 9.9rem;
  }

  .btnChoices {
    font-size: 1.3rem;
  }

  #pick {
    margin-top: 0;
  }
}

/* Extra small-sized screens */
@media (max-width: 480px) {
  #reset_btn {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  #reset_btn,
  #bgChange {
    padding: 0.2rem 0 0.2rem 0;
    line-height: 0.9rem;
  }

  #gameField {
    margin: 1rem 2rem 1rem 2rem;
  }

  #choiceImg {
    gap: 3rem;
  }

  #playerImg {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
  }

  #compImg {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
  }

  #pImg,
  #cImg,
  img {
    width: 6.9rem;
    height: 6.9rem;
  }

  .btnChoices {
    font-size: 1rem;
  }

  #pick {
    margin-top: 0;
  }

  #result {
    height: 3rem;
    margin: .5rem;
  }
}
