@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin+Sketch:wght@400;700&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1800px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(74, 79, 23, 0.8);
  /* color: hsl(55, 100%, 50%); */
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.heading h1 {
  font-family: "Cabin Sketch", cursive;
  /* font-family: "Abril Fatface", cursive; */
  font-size: 4rem;
  color: hsl(55, 100%, 50%);
  letter-spacing: 6px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons a {
  background-color: rgba(125, 145, 23, 1);
  color: hsl(55, 100%, 50%);
  border: 1px solid hsl(55, 100%, 50%);
  border-radius: 7px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}

.buttons a:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}

.nav-text {
  display: inline;
}

/* Main Section */
#gameField {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  background-color: rgba(117, 116, 114, 0.5);
  border-radius: 20px;
}

#player_choice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.btnChoices {
  display: flex;
  width: 10rem;
  height: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: rgb(255, 235, 0);
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid rgb(74, 79, 23);
  background-color: rgba(125, 145, 23, 1);
}

i {
  margin-right: 0.5rem;
}

#choiceImg {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1.5rem; */
}

#playerImg {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border: solid 5px;
  border-color: rgb(74, 79, 23);
  background-color: rgba(218, 141, 54, 0.8);
  border-radius: 10px;
  margin-top: 2rem;
  margin-right: 5rem;
}

#compImg {
  display: flex;
  width: 10rem;
  height: 10rem;
  border: solid 5px;
  border-color: rgb(74, 79, 23);
  background-color: rgba(126, 103, 206, 0.8);
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 5rem;
}

#pImg,
#cImg {
  width: 150px;
  height: 150px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.score_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#score_board {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  gap: 7rem;
}

#score_board p {
  flex: 1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: hsl(55, 100%, 50%);
}

#player_score {
  margin-right: 2.8rem;
  font-family: "Montserrat", sans-serif;
}

#score,
#pick {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: hsl(55, 100%, 50%);
  font-weight: 600;
}

#result {
  font-size: 2.2rem;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: rgb(6, 63, 6);
  font-weight: bolder;
}

.fa-handshake {
  margin-right: 1.5rem;
}

.btns-reset-bg {
  display: flex;
  width: 10rem;
  height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: hsl(55, 100%, 50%);
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(253, 241, 222, 0.7);
}

#reset_btn,
#bgChange {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 20rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: rgb(255, 235, 0);
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid rgb(74, 79, 23);
  background-color: rgba(125, 145, 23, 1);
}

.newGame_bgChange {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.outcome-message {
  color: rgb(103, 55, 192);
  font-weight: 600;
  font-size: 2.2rem;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8.5rem;
  background-color: rgba(74, 79, 23, 0.9);
  /* color: hsl(55, 100%, 50%); */
}

.foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* height: 8.5rem; */
  width: 40%;
  /* background-color: rgba(74, 79, 23, 0.9); */
  color: hsl(55, 100%, 50%);
}

.mediaicons {
  text-align: center;
}

.mediaicons li {
  display: inline-block;
  margin: 0 10px;
}

.icons {
  margin: 0;
  padding: 0;
}

.icons li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5rem;
}

.icons li a {
  font-size: 1.5rem;
  color: hsl(55, 100%, 50%);
}

.icons li a:hover {
  text-decoration: none;
  color: rgb(84, 85, 206);
}

#disclaimer p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

.footer-p {
  margin-bottom: 0;
}

hr {
  height: 2.5rem;
  border: 1.5px solid hsl(55, 100%, 50%);
}

/* MEDIA QUERIES */
/* SMALL screens */
@media (max-width: 600px) {
  .logo img {
    display: none;
  }

  .heading h1 {
    font-size: 2.5rem;
  }

  .nav-text {
    display: none;
  }

  .buttons a {
    /* padding: 10px 10px; */
    margin-bottom: 20px;
  }

  .bttns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    align-items: center;
    margin-right: 0;
  }
}
