@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin+Sketch:wght@400;700&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1800px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(98, 96, 88, 0.9);
  padding: 20px;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-family: "Montserrat", sans-serif;
}
.logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.heading h1 {
  font-family: "Cabin Sketch", cursive;
  font-size: clamp(2rem, 1rem + 4vw, 4rem);
  color: hsl(66, 80%, 62%);
  letter-spacing: 6px;
  line-height: clamp(2rem, 1rem + 4vw, 4rem);
}
.logo-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.buttons a {
  background-color: hsl(174, 19%, 32%); /* make it lighter */
  color: rgb(219, 242, 12); /* make it darker */
  border: 1px solid hsl(66, 86%, 54%);
  border-radius: 7px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}
.buttons a:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}
.nav-text {
  display: inline;
  font-size: clamp(0.5rem, 0.8rem + 1vw, 1.5rem);
}

/* MAIN SECTION */
.wrapper {
  display: flex;
  justify-content: center;
}
#gameField {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: rgba(241, 217, 169, 0.6);
  border-radius: 20px;
  width: 50rem;
  margin: 25px 0 25px 0;
}

/* New Game and Background Change buttons*/
.newGame-bgChange {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  margin-top: clamp(1rem, 1rem + 2vw, 2rem);
}
#reset-btn {
  margin-right: 4.5rem;
  margin-left: 4rem;
}
#bgBack {
  margin-left: 2.5em;
}
#reset-btn,
#bgChange {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: clamp(1.3rem, 2rem + 1vw, 2.5rem);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  color: rgb(219, 242, 12); /* make it darker */
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid hsl(66, 86%, 64%);
  background-color: hsl(174, 19%, 32%); /* make it lighter */
  transition: 0.5s;
}
.bgChange-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}
#bgBack,
#bgForward,
#back-music,
#forward-music,
#volume-up,
#volume-off {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: clamp(1.5rem, 2rem + 1vw, 2.5rem);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  color: rgb(31, 86, 77);
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: none;
  transition: 0.5s;
}
#bgBack:hover,
#bgForward:hover,
#volume-up:hover,
#volume-off:hover,
#back-music:hover,
#forward-music:hover,
#reset-btn:hover,
#bgChange:hover,
#open-modal-btn:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}
#bgBack,
#bgForward,
#back-music,
#forward-music,
#volume-up,
#volume-off {
  padding: 0 0.3rem 0 0.3rem;
}
#volume-off {
  margin-left: 1rem;
}
#bgChange,
#bgBack i,
#bgForward i,
#volume-up,
#bgBack-music i,
#bgForward-music i {
  gap: calc(0.2rem + 1vw);
}
#open-modal-btn {
  cursor: pointer;
  transition: 0.5s;
  margin-top: clamp(-0.5rem, -0.5rem + 1vw, -0.8rem);
  margin-bottom: clamp(0.5rem, 1rem + 1vw, 1rem);
}

/* Player abd Computer Images display */
#choiceImg {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
}
#playerImg {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border: solid 1.5px;
  border-color: hsl(66, 86%, 64%);
  background-color: rgba(118, 69, 46, 0.8);
  border-radius: 10px;
  margin-top: 2rem;
  /* Code taken from http://thenewcode.com/483/Flipping-Images-With-CSS-Transforms#:~:text=Reversing%20the%20orientation%20of%20images,the%20element%20horizontally%20or%20vertically */
  transform: scaleX(-1);
  /* playerImg horizontal flip */
  filter: FlipH;
  -ms-filter: "FlipH";
}
#compImg {
  display: flex;
  width: 15rem;
  height: 15rem;
  border: solid 1.5px;
  border-color: hsl(66, 86%, 64%);
  background-color: rgba(119, 114, 36, 0.8);
  border-radius: 10px;
  margin-top: 2rem;
}
#pImg,
#cImg,
img {
  width: 14.9rem;
  height: 14.9rem;
  border-radius: 10px;
}

/* Messages */
#result,
#pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  line-height: clamp(0.5rem, 1rem + 1vw, 1.5rem);
  font-weight: 600;
  height: 2.2rem;
}
#result {
  margin-top: clamp(0.5rem, 1rem + 1vw, 1rem);
  margin-bottom: clamp(0.5rem, 1rem + 1vw, 1rem);
}
#pick {
  margin-bottom: clamp(0.5rem, 1rem + 1vw, 1.5rem);
}
.start-message {
  color: #4e52c4;
}
.you-have-chosen {
  color: #077986;
}
.outcome-message {
  color: #7753bf;
}
#pick {
  color: #893023;
}
.fa-handshake {
  margin-right: 1.5rem;
}
.game-over {
  font-weight: bold;
}
.win,
.loss,
.tie {
  color: rgb(8, 134, 245);
}
#player-choice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 1rem + 1vw, 3.5rem);
  margin-bottom: clamp(0.5rem, 1rem + 1vw, 1rem);
}
.btnChoices {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  background-color: hsl(174, 19%, 32%); /* make it lighter */
  color: rgb(219, 242, 12); /* make it darker */
  border-radius: 5px;
  border: 1px solid hsl(66, 86%, 64%);
  height: clamp(1rem, 1.5rem + 1vw, 2rem);
  gap: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.btnChoices p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
  margin-bottom: 2rem;
}
.btnChoices:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}

/* Score Board */
.score-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
#score-board {
  display: flex;
  justify-content: space-evenly;
  width: calc(90% - 2rem);
  gap: calc(1.5rem + 1vw);
}
#score-board p {
  flex: 1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.6rem);
  font-weight: 600;
  color: #6d3183;
  margin-bottom: calc(0.5rem + 1vw);
}
#score {
  font-size: clamp(1.2rem, 1rem + 1vw, 1.6rem);
  font-family: "Montserrat", sans-serif;
  color: #6d3183;
  font-weight: 600;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8.5rem;
  background-color: rgba(90, 88, 80, 0.9);
}
.foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 40%;
  min-width: 17.5rem;
  color: rgb(219, 242, 12);
}
.mediaicons {
  text-align: center;
}
.mediaicons li {
  display: inline-block;
  margin: 0 10px;
}
.icons {
  margin: 0;
  padding: 0;
}
.icons li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5rem;
}
.icons li a,
#current-year,
.footer-p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: rgb(219, 242, 12);
}
.icons li a:hover {
  text-decoration: none;
  color: rgb(173, 173, 224);
}
#disclaimer p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-weight: lighter;
}
.footer-p {
  margin-bottom: 0;
  margin-left: 1rem;
}
hr {
  height: 2.5rem;
  border: 1.5px solid hsl(66, 86%, 64%);
}

/* MODAL */
#modal {
  width: 41%;
  height: 67%;
}
dialog {
  text-align: center;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30rem);
  height: calc(100% - 30rem);
  border: 2px solid #4e52c4;
  border-radius: 25px;
  padding: 1rem;
}

/* Header title styles */
#rules-header {
  margin: 0;
  font-size: clamp(0.5rem, 1rem + 1vw, 2rem);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: clamp(1.5rem, 1rem + 1vw, 2rem);
}

/* Modal Text */
.modal-text {
  font-size: clamp(0.5rem, 1rem + 1vw, 1.3rem);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: clamp(0.8rem, 1rem + 1vw, 1.3rem);
}

/* To open modal Rules button */
#open-modal-btn {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid hsl(66, 86%, 64%);
  background-color: hsl(174, 19%, 32%); /* make it lighter */
  color: rgb(219, 242, 12); /* make it darker */
  transition: 0.5s;
}

/* Close button styles */
#close-modal-btn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: clamp(0.8rem, 1rem + 1vw, 1rem);
  font-weight: bold;
  cursor: pointer;
  margin-top: clamp(0.5rem, 1rem + 1vw, 1.5rem);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
#close-modal-button:hover {
  color: #4e52c4;
}

/* Image styles */
#rules-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: calc(55% - 2rem);
  height: calc(65% - 2rem);
  padding: 10px;
}

/* ABOUT PAGE */
section#aboutPage-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#aboutPage-h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(84, 85, 206);
  line-height: clamp(0.8rem, 1rem + 4vw, 2.5rem);
  margin-top: clamp(1rem, 1rem + 4vw, 1.5rem);
  margin-left: clamp(1rem, 1rem + 4vw, 3rem);
  margin-right: clamp(1rem, 1rem + 4vw, 3rem);
  margin-bottom: clamp(1rem, 1rem + 4vw, 1.5rem);
}
.aboutPage-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(84, 85, 206);
  line-height: clamp(0.8rem, 1rem + 4vw, 2.5rem);
  margin-top: clamp(1rem, 1rem + 4vw, 1.5rem);
  margin-bottom: clamp(1rem, 1rem + 4vw, 1.5rem);
}
.aboutPage-h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgb(84, 85, 206);
  line-height: clamp(0.8rem, 1rem + 4vw, 2.5rem);
  margin-top: clamp(1rem, 1rem + 4vw, 1.5rem);
  margin-bottom: clamp(1rem, 1rem + 4vw, 1.5rem);
}
.aboutPage-text {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.5rem, 1rem + 1vw, 1.2rem);
  line-height: clamp(0.5rem, 1rem + 1vw, 1.5rem);
  margin-bottom: 2rem;
}
#about-rules {
  display: block;
  width: 27rem;
  height: 40rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
/* Colours for hyperlinked words on About page */
/* Use mnemonic LoVe/HAte to remember the order:LVHA */
/* Important, as other ways will not work */
/* The order of link pseudo-classes matters because of the way browsers interpret the CSS */
#about-page-link {
  color: rgb(5, 172, 41);
}
#about-page-link:visited {
  color: rgb(9, 107, 235);
}
#about-page-link:hover {
  color: rgb(238, 238, 36);
}
#about-hands-rps {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(1rem, 1rem + 4vw, 1.5rem);
  margin-top: clamp(1rem, 1rem + 4vw, 1.5rem);
  max-width: 1200px;
  width: 40rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
}
.about-page-link {
  text-decoration: underline;
}
#about-players {
  display: flex;
  flex-direction: row;
  margin-bottom: clamp(1rem, 1rem + 4vw, 1.5rem);
  margin-top: clamp(1rem, 1rem + 4vw, 1.5rem);
  max-width: 1200px;
  width: 50rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}
#about-rps-photo {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(1rem, 1rem + 4vw, 1.5rem);
  margin-top: clamp(1rem, 1rem + 4vw, 1.5rem);
  max-width: 1200px;
  width: 44rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}
#about-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
/* Table of content - About page*/
ul ul {
  list-style-type: square;
  margin-left: 1.5rem;
}
.about-hr {
  border: none;
  height: 3px;
  background: rgb(84, 85, 206);
}
#about-toc-hr1 {
  margin-bottom: 1rem;
}
#about-toc-hr2 {
  margin-top: 1rem;
}
#toc-list {
  background-color: rgb(155, 185, 241);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
#toc-list li a {
  color: #8f0bbf;
}
#toc-list li a:hover {
  text-decoration: none;
  color: rgb(236, 239, 86);
}
/* Back to top button on ABOUT page*/
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: rgba(86, 127, 121, 1);
  color: hsl(66, 86%, 64%);
  border: 2px solid hsl(66, 86%, 64%);
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  width: clamp(2rem, 1rem + 1vw, 2.5rem);
  height: clamp(2rem, 1rem + 1vw, 2.5rem);
}
#back-to-top {
  left: 85%;
  bottom: 5%;
  padding: 0;
}
.go-to-top:hover {
  background-color: rgb(84, 85, 206);
  color: #fff;
}
#back-to-top i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}

/* 404 PAGE */
.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - 8.5rem);
}
#error-page-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1rem + 4vw, 2.5rem);
  font-weight: bolder;
  color: rgb(84, 85, 206);
  letter-spacing: 6px;
  line-height: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.error-page p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: rgb(119, 114, 36);
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.image-wrapper {
  position: relative;
  width: 100%;
  height: 34rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#er-img {
  position: absolute;
  inset: 0; /* top, right, bottom, left */
  /* the idia inspired by video https://www.youtube.com/shorts/9cSL5dP4rgM */
  /* after hours of trying with transform/translate */
  margin: auto;
  width: 32rem;
  height: 32rem;
}

/* MEDIA QUERIES */
/* For screens between 1620px and 1800px  ONLY for the MODAL*/
@media only screen and (min-width: 1621px) and (max-width: 1800px) {
  #modal {
    width: 50%;
    height: 70%;
  }
  #rules-header {
    font-size: 2rem;
  }
  .modal-text {
    font-size: 1.2rem;
    line-height: 1rem;
  }
  #rules-img {
    width: 25rem;
    height: 25rem;
  }
  #close-modal-btn {
    margin-top: 2rem;
  }
}

/* For screens less than or equal to 1620px */
@media (max-width: 1620px) {
  .logo {
    margin-right: 4rem;
  }
  .bttns,
  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }
  .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
  #reset-btn,
  #bgChange {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.2rem;
    font-size: 1.3rem;
  }
  #gameField {
    margin: 2rem 4rem 2rem 4rem;
  }
  #reset-btn {
    margin-right: 18rem;
    margin-left: 2rem;
  }
  #choiceImg {
    gap: 15rem;
  }
  #playerImg {
    width: 13rem;
    height: 13rem;
  }
  #compImg {
    width: 13rem;
    height: 13rem;
  }
  #pImg,
  #cImg,
  img {
    width: 12.9rem;
    height: 12.9rem;
  }
  /* Modal-Rules */
  #modal {
    width: 70%;
    height: 70%;
  }
  #rules-header {
    font-size: 1.8rem;
  }
  .modal-text {
    font-size: 1.2rem;
    line-height: 1rem;
  }
  #rules-img {
    width: 25rem;
    height: 25rem;
  }
  #close-modal-btn {
    margin-top: 1rem;
  }
  /* About page */
  section#aboutPage-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #aboutPage-h1 {
    font-size: 2.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h2 {
    font-size: 1.8rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .aboutPage-text {
    font-size: 1.2em;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  #about-rps-photo {
    width: 30rem;
    height: 20rem;
  }
  #about-hands-rps {
    width: 30rem;
    height: 20rem;
    margin-bottom: 1rem;
  }
  #about-rules {
    width: 20rem;
    height: 28rem;
    margin: 0 auto;
  }
  #about-players {
    width: 34rem;
    height: 26rem;
    margin: 0 auto;
  }
  /* 404 PAGE */
  #error-page-heading {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: normal;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .error-page p {
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 26rem;
    margin-top: 1rem;
  }
  #er-img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 24rem;
    height: 26rem;
  }
  #back-home {
    visibility: inherit;
  }
}

/* Medium-sized screens */
/* For screens less than or equal to 1024px */
@media (max-width: 1024px) {
  .logo {
    margin-right: 4rem;
  }
  .bttns,
  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }
  .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
  #reset-btn {
    margin-right: 10.5rem;
    margin-left: 3.5rem;
  }
  #gameField {
    margin: 4rem 5rem 4rem 5rem;
  }
  #choiceImg {
    gap: 12rem;
  }
  #playerImg {
    width: 12rem;
    height: 12rem;
  }
  #compImg {
    width: 12rem;
    height: 12rem;
  }
  #pImg,
  #cImg,
  img {
    width: 11.9rem;
    height: 11.9rem;
  }
  .foot-container {
    max-width: 50%;
    min-width: 17.5rem;
    align-items: center;
  }
  /* MODAL */
  #modal {
    width: 80%;
    height: 60%;
  }
  #rules-header {
    font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
  }
  .modal-text {
    font-size: clamp(0.8rem, 0.5rem + 1vw, 1rem);
    line-height: clamp(0.8rem, 0.5rem + 1vw, 1rem);
  }
  #rules-img {
    width: 20rem;
    height: 20rem;
  }
  #close-modal-btn {
    margin-top: 0.7rem;
  }
  /* About page */
  section#aboutPage-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #aboutPage-h1 {
    font-size: 2rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h2 {
    font-size: 1.6rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h3 {
    font-size: 1.3rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  .aboutPage-text {
    font-size: 1.2em;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  #about-hands-rps {
    width: 19rem;
    height: 12rem;
    margin-bottom: 1rem;
  }
  #about-players {
    width: 19rem;
    height: 10rem;
    margin: 0 auto;
  }
  /* 404 PAGE */
  #error-page-heading {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: normal;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .error-page p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 24rem;
    margin-top: 1rem;
  }
  #er-img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 22rem;
    height: 24rem;
  }
  #back-home {
    visibility: inherit;
  }
}

/* Small-sized screens */
/* For screens less than or equal to 768px */
@media (max-width: 768px) {
  .logo {
    margin-right: 0;
  }
  .logo img {
    display: none;
  }
  .buttons {
    line-height: clamp(0.2rem, 0.5rem + 2vh, 1rem);
  }
  .nav-text {
    display: none;
  }
  .bttns {
    gap: 1rem;
  }
  .bttns i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1rem;
    height: 1.5rem;
    align-items: center;
    margin-right: 0;
  }
  #reset-btn {
    margin-right: 6rem;
    margin-left: 2rem;
  }
  #reset-btn,
  #bgChange {
    font-size: 1rem;
    padding: 0.2rem 0 0.2rem 0;
    line-height: 1rem;
  }
  #gameField {
    margin: 2rem 4rem 2rem 4rem;
  }
  #choiceImg {
    gap: 4rem;
  }
  #playerImg {
    width: 10rem;
    height: 10rem;
  }
  #compImg {
    width: 10rem;
    height: 10rem;
  }
  #pImg,
  #cImg,
  img {
    width: 9.9rem;
    height: 9.9rem;
  }
  .btnChoices {
    font-size: 1.3rem;
  }
  #pick {
    margin-top: 0;
  }
  /* MODAL */
  #modal {
    width: 80%;
    height: 80%;
  }
  #rules-header {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  .modal-text {
    font-size: 0.5rem;
    line-height: 0.6rem;
  }
  #rules-img {
    width: 12rem;
    height: 12rem;
  }
  #close-modal-btn {
    margin-top: 0.6rem;
  }
  /* About page */
  section#aboutPage-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #toc-list {
    font-size: 1rem;
    line-height: 1rem;
  }
  #aboutPage-h1 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h2 {
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h3 {
    font-size: 1.2rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }
  .aboutPage-text {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  #about-final {
    font-size: 1rem;
    line-height: 1rem;
  }
  #about-rps-photo {
    width: 23rem;
    height: 15rem;
  }
  #about-hands-rps {
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
  #about-rules {
    width: 20rem;
    height: 28rem;
    margin: 0 auto;
  }
  #about-players {
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
  }
  /* 404 PAGE */
  #error-page-heading {
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: normal;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .error-page p {
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 22rem;
    margin-top: 1rem;
  }
  #er-img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20rem;
    height: 22rem;
  }
  #back-home {
    visibility: inherit;
  }
}

/* Extra small-sized screens */
/* For screens less than or equal to 480px */
@media (max-width: 480px) {
  #reset-btn {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  #reset-btn,
  #bgChange {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 0.9rem;
  }
  #gameField {
    margin: 1rem 2rem 1rem 2rem;
  }
  #choiceImg {
    gap: 3rem;
  }
  #playerImg {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
  }
  #compImg {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
  }
  #pImg,
  #cImg,
  img {
    width: 6.9rem;
    height: 6.9rem;
  }
  .btnChoices {
    font-size: 1rem;
  }
  #pick {
    margin-top: 0;
  }
  #result {
    height: 3rem;
    margin-bottom: 0;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  /* MODAL */
  #modal {
    width: 90%;
    height: 68%;
    margin-top: 1rem;
  }
  /* Header title styles */
  #rules-header {
    font-size: 1rem;
    line-height: 0.9rem;
  }
  /* Modal Text */
  .modal-text {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  /* Image styles */
  #rules-img {
    width: 20rem;
    height: 20rem;
  }
  #close-modal-btn {
    font-size: 0.7rem;
  }
  /* About page */
  section#aboutPage-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #aboutPage-h1 {
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  .aboutPage-h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  .aboutPage-text {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  #about-hands-rps {
    width: 19rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
  #about-players {
    width: 18rem;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
  #about-rps-photo {
    width: 18rem;
    height: 12rem;
  }
  #about-rules {
    width: 14rem;
    height: 22rem;
    margin: 0 auto;
  }
  #about-final {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 2rem;
  }
  /* 404 PAGE */
  #error-page-heading {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: normal;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .error-page p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
  }
  #er-img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 18rem;
    height: 20rem;
  }
  #back-home {
    visibility: inherit;
  }
}
/* Add style for iPhone 5, 5S, and old SE to remove horizontal scroll*/
@media screen and (device-width: 320px) and (device-height: 568px) {
  /* Nav Bar - Heading */
  .heading h1 {
    font-size: 1.65rem;
    line-height: 1.65rem;
  }
  /* Control buttons - audio, background change */
  #reset-btn {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  #bgBack {
    margin-left: 0.5rem;
  }
  .newGame-bgChange > button {
    width: auto; /* to let the buttons take their natural width */
    max-width: 100%;
    box-sizing: border-box;
  }
  .newGame-bgChange {
    font-size: 1rem;
  }
  #volume-off {
    margin-left: 0.5rem;
  }
  #bgChange,
  #bgBack i,
  #bgForward i,
  #volume-up,
  #bgBack-music i,
  #bgForward-music i {
    gap: 0.2rem; /* reduce gap size */
  }
  /* Messages */
  #result {
    margin-top: 0;
    margin-bottom: 0;
  }
  #pick {
    margin-bottom: 0;
  }
  /* Characters Choice Buttons */
  .btnChoices {
    font-size: 0; /* to hide the text */
    display: flex; /* to center the icon in the button */
    align-items: center;
    justify-content: center;
  }
  .btnChoices i {
    font-size: 1.1rem;
  }
  /* Player and Computer Character choices */
  #playerImg {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1rem;
  }
  #compImg {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 1rem;
  }
  #pImg,
  #cImg,
  img {
    width: 6.4rem;
    height: 6.4rem;
  }
  /* MODAL */
  #modal {
    width: 90%;
    height: 70%;
    margin-top: 3rem;
  }
  /* Modal image */
  #rules-img {
    width: 14.3rem;
    height: 14.3rem;
  }
  /* Modal header */
  #rules-header {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
  /* Madal text */
  .modal-text {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  /* Close modal button */
  #close-modal-btn {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  /* About page */
  section#aboutPage-wrapper {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }
  #toc-list {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  #aboutPage-h1 {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .aboutPage-h2 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .aboutPage-h3 {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
  .aboutPage-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  #about-hands-rps {
    width: 17rem;
    height: 8rem;
  }
  #about-players {
    width: 17rem;
    height: 11rem;
  }
  #about-rps-photo {
    width: 17rem;
    height: 11rem;
  }
  #about-rules {
    width: 14rem;
    height: 22rem;
  }
  #about-final {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  /* 404 PAGE */
  #error-page-heading {
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: normal;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .error-page p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 16rem;
    margin-top: 1rem;
  }
  #er-img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 14rem;
    height: 16rem;
  }
  #back-home {
    visibility: inherit;
  }
}
